<div class="">
    <div class="page-title"> <!-- Titulo de pagina -->
        <div class="title_left" style="display: none">
            <h3>Titulo Ventana</h3>
        </div>
        <div class="title_right" style="display: none">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Ir!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>                        
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Informacíón de Contacto</h2> <!-- Subtitulo -->
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Propiedad 1</a>
                                </li>
                                <li><a href="#">Propiedad 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="xcontent" class="x_content">
                    <article>
                        <p>
                            Use esta área para proporcionar información adicional.
                        </p>

                        <p>
                            Use esta área para proporcionar información adicional.
                        </p>

                        <p>
                            Use esta área para proporcionar información adicional.
                        </p>
                    </article>
                    <aside>
                        <h3>Al lado del título</h3>
                        <p>
                            Use esta área para proporcionar información adicional.
                        </p>
                        @*<ul>
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        </ul>*@
                    </aside>                                        
                                    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        CreateEventsPanelToolbox();
    });
</script>           